* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding: 30px 10px;
  /* border: 2px solid red; */
}

.header h1 {
  font-size: 24px;
  color: F9FAF8;
  display: flex;
  justify-content: flex-start;
  /* border: 2px solid red; */

}

.header-right-links {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  align-items: center;
  
}

.header-right-links ul{
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
  margin: 0 20px;
  
}

a {
  text-decoration: none;
  color: white;
}

.description-and-image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 60px 40px;
  /* border: 2px solid red; */

}

.description {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 30%;
  padding: 50px 0;
  

}

.description h1 {
  font-size: 38px;
  display: flex;
  flex-wrap: wrap;
  
}

.description button {
  background-color: #3882F6;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: large;
}

.image {
  display: flex;
  /* border: 2px solid red; */
  
}

.image img {
  width: 350px;
  height: auto;
  margin: 50px;
  
}

.info-thumb-container {
  padding: 80px 40px 100px;
}

.random-info h1 {
  font-size: 26px;
}

.info-thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.allthumbsubs-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.thumbnail-and-subtext {
  
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumb-border {
  background-color: red;
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 10px;
  border: 0px solid #3882F6;
  margin: 10px 0;
  
}

.subtext {
  display: flex;
  justify-content: center;
}

.thumbnail-one {
  background-image: url(images/warrior-4458063_1280.jpg);
  background-position: 100% 50%;
}

.thumbnail-two {
  background-image: url(images/space-port-3120607_1280.jpg);
}

.thumbnail-three {
  background-image: url(images/digital-art-398342_1280.png);
  background-position: 90% 50%;
}

.thumbnail-four {
  background-image: url(images/woman-3340958_1280.jpg);
  background-size: 120%;
}

.quote-bg {
  background-color: #E5E7EB;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 26px;
  width: 50%;
  margin: 0 auto;
  padding: 150px 0;
  
  
}

/* .quote h4 {
  display: flex;
  
  font-size: 16px;
  border: 2px solid red;
} */

.somebody {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-style: normal;
  margin: 0 0 0 75%;
}

.cta-all {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882F6;
  width: 50%;
  margin: 40px 30px;
  padding: 50px 80px;
  color: white;
  border-radius: 10px;
  

}

.cta-all button {
  border: 2px solid white;
  border-radius: 5px;
  background-color: #3882F6;
  color: white;
  padding: 10px 20px;
  font-size: large;

}

.call-to-action {
  gap: 5px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  /* background-color: red; */
  justify-content: flex-start;
}

.signup-button {
  flex-basis: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 30px;
}