body {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding: 0 10px 0 10px;
}

.header-right-links {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  align-items: center;
}

.header-right-links ul{
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
  margin-left: 10px;
  padding:
}

a {
  text-decoration: none;
  color: white;
}